<mat-toolbar color="primary">
  <span>Flickr Search</span>
</mat-toolbar>

<div id="search">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Type your search here" [formControl]="search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="accent">Run Search</button>
</div>

<mat-toolbar-row>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon">list</mat-icon>
</mat-toolbar-row>

<mat-progress-bar *ngIf="!photos" mode="indeterminate"></mat-progress-bar>

<div id="photos">
  <img *ngFor="let photo of photos" src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg">
</div>